{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Auth</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'management/css/auth.css' %}">
</head>
<body>

<div class="container" id="container">

  <!-- REGISTER -->
  <div class="panel panel-left">
    <h2>Sign In</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="First name">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
  </div>

  <!-- LOGIN -->
  <div class="panel panel-right">
    <h2>Log in</h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" placeholder="Username or email">
      <input type="password" placeholder="Password">
      <button type="submit">Submit</button>
    </form>
  </div>

  <!-- SWITCH -->
  <div class="overlay">
    <div class="overlay-panel">
      <h2>Do not have an account?</h2>
      <button id="registerBtn">Register</button>

      <h2>Already have an account?</h2>
      <button id="loginBtn">Login</button>
    </div>
  </div>

</div>

<script>
  const container = document.getElementById("container");
  document.getElementById("registerBtn").onclick = () =>
    container.classList.add("active");
  document.getElementById("loginBtn").onclick = () =>
    container.classList.remove("active");
</script>

</body>
</html>
