:root {
  --numDays: 5;
  --numHours: 11;
  --timeHeight: 45px;
  --calBgColor: #fff1f8;
  --eventBorderColor: #f2d3d8;
}

.calendar {
  margin: 2rem;
}
.calendar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}
.calendar-grid {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 10px;
}
.month-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.timeline {
    display: grid;
    grid-template-rows: repeat(var(--numHours), var(--timeHeight));
    min-width: 60px;
}

.timeline .time-marker {
    text-align: right;
    padding-right: 5px;
    font-size: 0.9rem;
    font-weight: 600;
}

.days {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(var(--numDays), 1fr);
    min-width: 0;
}

.events {
    position: relative;
    border-radius: 5px;
    background: var(--calBgColor);
    height: calc(var(--numHours) * var(--timeHeight));
}


.start-10 {
    grid-row-start: 2;
}

.start-12 {
    grid-row-start: 4;
}

.start-1 {
  grid-row-start: 5;
}

.start-2 {
  grid-row-start: 6;
}

.end-12 {
  grid-row-end: 4;
}

.end-1 {
  grid-row-end: 5;
}

.end-3 {
  grid-row-end: 7;
}

.end-4 {
  grid-row-end: 8;
}

.end-5 {
  grid-row-end: 9;
}


.event {
    border: 1px solid var(--eventBorderColor);
    border-radius: 5px;
    position: relative;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 0.9rem;
    min-height: var(--timeHeight);
    box-sizing: border-box;
}
.event .title {
    font-weight: 600;
    margin: 0 0 0.2rem 0;
}

.event .time {
    font-weight: 400;
    font-size: 0.8rem;
    color: #555;
    margin: 0;
}
.space,
.date {
    height: 30px
}

body {
    font-family: system-ui, sans-serif;
}


.date {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5rem;
}

.date-num {
  font-size: 2rem;
  font-weight: 600;
  display: inline;
}

.date-day {
  display: inline;
  font-size: 2rem;
  font-weight: 100;
}
